.ratingWrapper {
    border-radius: 40px;
    background-color: hsl(213, 19%, 18%);
    width: 420px;
    margin: 0 auto;
    padding: 40px;
}

.ratingWrapper h1 {
    color: white;
    font-size: 22px;
}

.ratingWrapper .frontPage {
    text-align: left;
}

.thankYou .feedbackText {
    color: hsl(217, 12%, 63%);
    line-height: 22px;
    font-size: 12px;

}
.thankYou .feedback {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 30px;
    font-size: 12px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 14px 7px rgba(0,0,0,0.1);
}

.ratingWrapper .para{
    color: hsl(217, 12%, 63%);
    width: 90%;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 30px;
}

.rating {
    display: flex;
    gap: 10px;
}

.star, .ranking, .Clicked{
    width: 40px;
    height: 40px;
    background-color: #2a2a2a ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    color: white;
}

.ranking:hover {
    background-color: hsl(25, 97%, 53%);;
}
.Clicked {
    background-color:hsl(229, 6%, 66%) !important;
}

.subBtn {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    border: 1px solid hsl(25, 97%, 53%);
    cursor: pointer;
}

.errorMsg {
    font-size: 12px;
    padding-left: 20px;
    color: red;
}
