* {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
.mainWrapper {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    width: 44%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.joinGrid {
    grid-area: 1/1/1/3; 
    padding: 30px;
    /* Row-start/column start/row end/column end */
}
.joinGrid .heading {
    color: hsl(71, 73%, 54%);
}
.joinGrid p {
    color: hsl(218, 22%, 67%);
    margin: 0;
    line-height: 25px;
}

.monthySubs, .whyUs {
    color: white;
}

.monthySubs {
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}

.monthySubs .dollar {
    font-size: 20px;
    margin-bottom: 10px;
}

.full {
    margin: 0;
    margin-bottom: 20px;
}
.monthySubs p {
    font-size: 14px;
}
.monthySubs button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    border: 1px solid hsl(71, 73%, 54%);
    background-color: hsl(71, 73%, 54%);
}

.whyUs {
    opacity: 0.8;
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}

.joinGrid h4{
    color: hsl(179, 62%, 43%)
}

.perMonth {
    font-size: 10px;
    opacity: 0.6;
}

.whyUs p{
    font-size: 10px;
    opacity: 0.6;
    width: 53%;
    line-height: 15px;
}

@media(max-width: 768px) { 
    .mainWrapper {
        display: block;
    }
}